In [4]:
import pandas as pd
import os

DATA_PATH = 'C:\dev\github\SKN03-2nd-2Team\moonvie-crawling\data\season'
folder = os.listdir(DATA_PATH)
os.chdir(DATA_PATH)
for file in folder:
    df = pd.read_csv(file, encoding='utf-8-sig')
    df.head()

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\user\AppData\Local\Temp\ipykernel_2864\2591738344.py:4: SyntaxWarning: invalid escape sequence '\d'
  DATA_PATH = 'C:\dev\github\SKN03-2nd-2Team\moonvie-crawling\data\season'

In [131]:
df = pd.read_csv('WeeklyBoxOfficeData.csv')

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4800 entries, 0 to 4799
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   박스오피스종류                4800 non-null   object
 1   상영기간                   4800 non-null   object
 2   조회연도및주차                4800 non-null   int64
 3   순번                     4800 non-null   int64
 4   박스오피스 순위               4800 non-null   int64
 5   전일대비 증감분               4800 non-null   int64
 6   신규진입여부                 4800 non-null   object
 7   영화대표코드                 4800 non-null   int64
 8   제목                     4800 non-null   object
 9   개봉일                    4800 non-null   object
 10  해당일자 매출액               4800 non-null   int64
 11  해당일자 상영작 대비 해당영화 매출비율  4800 non-null   float64
 12  전일대비 매출액 증감분           4800 non-null   int64
 13  전일대비 매출액 증감비율          4800 non-null   float64
 14  누적 매출액                 4800 non-null   int64
 15  해당일 관객수                4800 non-null   int64
 16  전일대비 관객수 증감분           4800 non-null   int64
 17  전일대비 관객수 증감비율          4800 non-null   float64
 18  누적 관객수                 4800 non-null   int64
 19  해당일자 상영 스크린수           4800 non-null   int64
 20  해당일자 상영 횟수             4800 non-null   int64
dtypes: float64(3), int64(13), object(5)
memory usage: 787.6+ KB

In [133]:
# 중복 행 제거
df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3960 entries, 0 to 4779
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   박스오피스종류                3960 non-null   object
 1   상영기간                   3960 non-null   object
 2   조회연도및주차                3960 non-null   int64
 3   순번                     3960 non-null   int64
 4   박스오피스 순위               3960 non-null   int64
 5   전일대비 증감분               3960 non-null   int64
 6   신규진입여부                 3960 non-null   object
 7   영화대표코드                 3960 non-null   int64
 8   제목                     3960 non-null   object
 9   개봉일                    3960 non-null   object
 10  해당일자 매출액               3960 non-null   int64
 11  해당일자 상영작 대비 해당영화 매출비율  3960 non-null   float64
 12  전일대비 매출액 증감분           3960 non-null   int64
 13  전일대비 매출액 증감비율          3960 non-null   float64
 14  누적 매출액                 3960 non-null   int64
 15  해당일 관객수                3960 non-null   int64
 16  전일대비 관객수 증감분           3960 non-null   int64
 17  전일대비 관객수 증감비율          3960 non-null   float64
 18  누적 관객수                 3960 non-null   int64
 19  해당일자 상영 스크린수           3960 non-null   int64
 20  해당일자 상영 횟수             3960 non-null   int64
dtypes: float64(3), int64(13), object(5)
memory usage: 680.6+ KB

In [134]:
# 개봉일 column이 빈칸인 rows 찾아 제거
blank_value = ' '
column_name = '개봉일'
cnt = 0
if blank_value in df[column_name].values:
    matching_rows_idx = df[df[column_name] == blank_value].index
    for _ in matching_rows_idx:
        cnt += 1
    print(f'blank count: {cnt}\n {matching_rows_idx}')
    print('*'*30)

for matching_row in matching_rows_idx:
    df = df.drop(matching_row)

df.info()

blank count: 5
 Index([258, 1619, 2155, 2668, 3189], dtype='int64')
******************************
<class 'pandas.core.frame.DataFrame'>
Index: 3955 entries, 0 to 4779
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   박스오피스종류                3955 non-null   object
 1   상영기간                   3955 non-null   object
 2   조회연도및주차                3955 non-null   int64
 3   순번                     3955 non-null   int64
 4   박스오피스 순위               3955 non-null   int64
 5   전일대비 증감분               3955 non-null   int64
 6   신규진입여부                 3955 non-null   object
 7   영화대표코드                 3955 non-null   int64
 8   제목                     3955 non-null   object
 9   개봉일                    3955 non-null   object
 10  해당일자 매출액               3955 non-null   int64
 11  해당일자 상영작 대비 해당영화 매출비율  3955 non-null   float64
 12  전일대비 매출액 증감분           3955 non-null   int64
 13  전일대비 매출액 증감비율          3955 non-null   float64
 14  누적 매출액                 3955 non-null   int64
 15  해당일 관객수                3955 non-null   int64
 16  전일대비 관객수 증감분           3955 non-null   int64
 17  전일대비 관객수 증감비율          3955 non-null   float64
 18  누적 관객수                 3955 non-null   int64
 19  해당일자 상영 스크린수           3955 non-null   int64
 20  해당일자 상영 횟수             3955 non-null   int64
dtypes: float64(3), int64(13), object(5)
memory usage: 679.8+ KB

In [135]:
# 2017년 이전 개봉작 제거
df['개봉일'] = pd.to_datetime(df['개봉일'])
df = df[df['개봉일'] >= '2017-01-01']
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3833 entries, 0 to 4779
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   박스오피스종류                3833 non-null   object
 1   상영기간                   3833 non-null   object
 2   조회연도및주차                3833 non-null   int64
 3   순번                     3833 non-null   int64
 4   박스오피스 순위               3833 non-null   int64
 5   전일대비 증감분               3833 non-null   int64
 6   신규진입여부                 3833 non-null   object
 7   영화대표코드                 3833 non-null   int64
 8   제목                     3833 non-null   object
 9   개봉일                    3833 non-null   datetime64[ns]
 10  해당일자 매출액               3833 non-null   int64
 11  해당일자 상영작 대비 해당영화 매출비율  3833 non-null   float64
 12  전일대비 매출액 증감분           3833 non-null   int64
 13  전일대비 매출액 증감비율          3833 non-null   float64
 14  누적 매출액                 3833 non-null   int64
 15  해당일 관객수                3833 non-null   int64
 16  전일대비 관객수 증감분           3833 non-null   int64
 17  전일대비 관객수 증감비율          3833 non-null   float64
 18  누적 관객수                 3833 non-null   int64
 19  해당일자 상영 스크린수           3833 non-null   int64
 20  해당일자 상영 횟수             3833 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(13), object(4)
memory usage: 658.8+ KB

In [136]:
# '상영기간'에서 시작일과 종료일을 분리
df['상영시작일'] = df['상영기간'].apply(lambda x: x.split('~')[0])
df['상영종료일'] = df['상영기간'].apply(lambda x: x.split('~')[1])

# 시작일과 종료일을 datetime 형식으로 변환
df['상영시작일'] = pd.to_datetime(df['상영시작일'], format='%Y%m%d')
df['상영종료일'] = pd.to_datetime(df['상영종료일'], format='%Y%m%d')

# 불필요한 column 제거
df.drop(columns=['상영기간','순번', '박스오피스 순위', '박스오피스종류', '신규진입여부'], inplace=True)

df.head()

,조회연도및주차,전일대비 증감분,영화대표코드,제목,개봉일,해당일자 매출액,해당일자 상영작 대비 해당영화 매출비율,전일대비 매출액 증감분,전일대비 매출액 증감비율,누적 매출액,해당일 관객수,전일대비 관객수 증감분,전일대비 관객수 증감비율,누적 관객수,해당일자 상영 스크린수,해당일자 상영 횟수,상영시작일,상영종료일
0,202401,0,20203702,노량: 죽음의 바다,2023-12-20,7120175671,27.6,-10172692617,-58.8,41152784611,729900,-1026812,-58.5,4168033,1706,32060,2024-01-01,2024-01-07
1,202401,0,20212866,서울의 봄,2023-11-22,6825704919,26.4,-8412268008,-55.2,122176196329,684224,-862550,-55.8,12539003,1614,30527,2024-01-01,2024-01-07
2,202401,37,20235834,위시,2024-01-03,5985385570,23.2,5979016570,93876.8,5995723570,621537,620896,96863.7,622619,1421,25420,2024-01-01,2024-01-07
3,202401,0,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,1736490725,6.7,-1644266149,-48.6,7242818414,180825,-170473,-48.5,749094,834,8470,2024-01-01,2024-01-07
4,202401,-2,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,1209442731,4.7,-2392477113,-66.4,8669042503,122074,-230561,-65.4,845060,832,7689,2024-01-01,2024-01-07

In [137]:
df.isnull().sum()

조회연도및주차                  0
전일대비 증감분                 0
영화대표코드                   0
제목                       0
개봉일                      0
해당일자 매출액                 0
해당일자 상영작 대비 해당영화 매출비율    0
전일대비 매출액 증감분             0
전일대비 매출액 증감비율            0
누적 매출액                   0
해당일 관객수                  0
전일대비 관객수 증감분             0
전일대비 관객수 증감비율            0
누적 관객수                   0
해당일자 상영 스크린수             0
해당일자 상영 횟수               0
상영시작일                    0
상영종료일                    0
dtype: int64

In [138]:
df = df.sort_values(by='조회연도및주차', ascending=False)

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3833 entries, 319 to 320
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   조회연도및주차                3833 non-null   int64
 1   전일대비 증감분               3833 non-null   int64
 2   영화대표코드                 3833 non-null   int64
 3   제목                     3833 non-null   object
 4   개봉일                    3833 non-null   datetime64[ns]
 5   해당일자 매출액               3833 non-null   int64
 6   해당일자 상영작 대비 해당영화 매출비율  3833 non-null   float64
 7   전일대비 매출액 증감분           3833 non-null   int64
 8   전일대비 매출액 증감비율          3833 non-null   float64
 9   누적 매출액                 3833 non-null   int64
 10  해당일 관객수                3833 non-null   int64
 11  전일대비 관객수 증감분           3833 non-null   int64
 12  전일대비 관객수 증감비율          3833 non-null   float64
 13  누적 관객수                 3833 non-null   int64
 14  해당일자 상영 스크린수           3833 non-null   int64
 15  해당일자 상영 횟수             3833 non-null   int64
 16  상영시작일                  3833 non-null   datetime64[ns]
 17  상영종료일                  3833 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(3), int64(11), object(1)
memory usage: 569.0+ KB

In [164]:
from datetime import datetime

# 상영시작일과 상영종료일 사이의 모든 월을 추출
def get_months_range(start_date, end_date):
    months = set()
    current_date = start_date

    while current_date <= end_date:
        months.add(current_date.strftime('%Y-%m'))
        if current_date.month == 12:
            current_date = datetime(current_date.year + 1, 1, 1)
        else:
            current_date = datetime(current_date.year, current_date.month + 1, 1)

    return sorted(list(months))

# 빈 리스트를 만들어 새로운 행을 저장할 준비
new_df = []

# 각 행을 반복하며 상영 기간을 월별로 분리
for index, row in df.iterrows():
    months = get_months_range(row['상영시작일'], row['상영종료일'])
    for month in months:
        new_row = row.copy()
        new_row['상영월'] = month
        new_df.append(new_row)

# 새로운 DataFrame 생성
new_df = pd.DataFrame(new_df)
new_df

,조회연도및주차,전일대비 증감분,영화대표코드,제목,개봉일,해당일자 매출액,해당일자 상영작 대비 해당영화 매출비율,전일대비 매출액 증감분,전일대비 매출액 증감비율,누적 매출액,해당일 관객수,전일대비 관객수 증감분,전일대비 관객수 증감비율,누적 관객수,해당일자 상영 스크린수,해당일자 상영 횟수,상영시작일,상영종료일,상영월
319,202432,55,20231042,빅토리,2024-08-14,153229339,0.6,151006339,6792.9,155452339,16546,16299,6598.8,16793,24,88,2024-08-05,2024-08-11,2024-08
318,202432,21,20241924,극장총집편 봇치 더 록! 전편,2024-08-07,389291400,1.5,372086400,2162.7,483283400,35092,33892,2824.3,41853,194,1903,2024-08-05,2024-08-11,2024-08
317,202432,-2,20240983,명탐정 코난: 100만 달러의 펜타그램,2024-07-17,441942149,1.7,-450071020,-50.5,6813552641,46511,-50375,-52.0,700660,403,3187,2024-08-05,2024-08-11,2024-08
311,202432,6,20249733,사랑의 하츄핑,2024-08-07,3171946602,12.3,2793549502,738.3,3679174952,356704,318567,835.3,406387,1159,15225,2024-08-05,2024-08-11,2024-08
313,202432,-2,20247781,데드풀과 울버린,2024-07-24,2192343536,8.5,-3737097515,-63.0,19426281710,205409,-378054,-64.8,1874864,880,14184,2024-08-05,2024-08-11,2024-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,201701,54,20161084,패신저스,2017-01-04,4173235418,11.4,4170027418,129988.4,4176443418,503992,503591,125583.8,504393,608,11293,2017-01-02,2017-01-08,2017-01
329,201701,50,20151181,여교사,2017-01-04,703902760,1.9,700864760,23069.9,718495760,84669,84334,25174.3,86439,393,4068,2017-01-02,2017-01-08,2017-01
325,201701,29,20165153,눈의 여왕 3: 눈과 불의 마법대결,2017-01-04,1818045400,5.0,1807494400,17131.0,1828596400,240694,239217,16196.1,242171,526,4999,2017-01-02,2017-01-08,2017-01
326,201701,13,20150966,사랑하기 때문에,2017-01-04,1834166940,5.0,1801066940,5441.3,1968850940,229757,225745,5626.7,246167,542,8731,2017-01-02,2017-01-08,2017-01
320,201701,8,20161872,너의 이름은.,2017-01-04,9104293942,24.8,8471151442,1338.0,9745292442,1108284,1035085,1414.1,1182465,947,16430,2017-01-02,2017-01-08,2017-01

In [165]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4572 entries, 319 to 320
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   조회연도및주차                4572 non-null   int64
 1   전일대비 증감분               4572 non-null   int64
 2   영화대표코드                 4572 non-null   int64
 3   제목                     4572 non-null   object
 4   개봉일                    4572 non-null   datetime64[ns]
 5   해당일자 매출액               4572 non-null   int64
 6   해당일자 상영작 대비 해당영화 매출비율  4572 non-null   float64
 7   전일대비 매출액 증감분           4572 non-null   int64
 8   전일대비 매출액 증감비율          4572 non-null   float64
 9   누적 매출액                 4572 non-null   int64
 10  해당일 관객수                4572 non-null   int64
 11  전일대비 관객수 증감분           4572 non-null   int64
 12  전일대비 관객수 증감비율          4572 non-null   float64
 13  누적 관객수                 4572 non-null   int64
 14  해당일자 상영 스크린수           4572 non-null   int64
 15  해당일자 상영 횟수             4572 non-null   int64
 16  상영시작일                  4572 non-null   datetime64[ns]
 17  상영종료일                  4572 non-null   datetime64[ns]
 18  상영월                    4572 non-null   object
dtypes: datetime64[ns](3), float64(3), int64(11), object(2)
memory usage: 714.4+ KB

In [166]:
new_df.to_csv('test1.csv', encoding='utf-8-sig', index=False)

# 분석

In [168]:
df = pd.read_csv('test1.csv', encoding='utf-8-sig')
df.head()

,조회연도및주차,전일대비 증감분,영화대표코드,제목,개봉일,해당일자 매출액,해당일자 상영작 대비 해당영화 매출비율,전일대비 매출액 증감분,전일대비 매출액 증감비율,누적 매출액,해당일 관객수,전일대비 관객수 증감분,전일대비 관객수 증감비율,누적 관객수,해당일자 상영 스크린수,해당일자 상영 횟수,상영시작일,상영종료일,상영월
0,202432,55,20231042,빅토리,2024-08-14,153229339,0.6,151006339,6792.9,155452339,16546,16299,6598.8,16793,24,88,2024-08-05,2024-08-11,2024-08
1,202432,21,20241924,극장총집편 봇치 더 록! 전편,2024-08-07,389291400,1.5,372086400,2162.7,483283400,35092,33892,2824.3,41853,194,1903,2024-08-05,2024-08-11,2024-08
2,202432,-2,20240983,명탐정 코난: 100만 달러의 펜타그램,2024-07-17,441942149,1.7,-450071020,-50.5,6813552641,46511,-50375,-52.0,700660,403,3187,2024-08-05,2024-08-11,2024-08
3,202432,6,20249733,사랑의 하츄핑,2024-08-07,3171946602,12.3,2793549502,738.3,3679174952,356704,318567,835.3,406387,1159,15225,2024-08-05,2024-08-11,2024-08
4,202432,-2,20247781,데드풀과 울버린,2024-07-24,2192343536,8.5,-3737097515,-63.0,19426281710,205409,-378054,-64.8,1874864,880,14184,2024-08-05,2024-08-11,2024-08

In [170]:
df.columns

Index(['조회연도및주차', '전일대비 증감분', '영화대표코드', '제목', '개봉일', '해당일자 매출액',
       '해당일자 상영작 대비 해당영화 매출비율', '전일대비 매출액 증감분', '전일대비 매출액 증감비율', '누적 매출액',
       '해당일 관객수', '전일대비 관객수 증감분', '전일대비 관객수 증감비율', '누적 관객수', '해당일자 상영 스크린수',
       '해당일자 상영 횟수', '상영시작일', '상영종료일', '상영월'],
      dtype='object')

In [172]:
df = df[['영화대표코드', '제목', '개봉일','해당일자 상영작 대비 해당영화 매출비율', '누적 매출액',
         '누적 관객수', '해당일자 상영 스크린수', '상영시작일', '상영종료일', '상영월']]
df.head()

,영화대표코드,제목,개봉일,해당일자 상영작 대비 해당영화 매출비율,누적 매출액,누적 관객수,해당일자 상영 스크린수,상영시작일,상영종료일,상영월
0,20231042,빅토리,2024-08-14,0.6,155452339,16793,24,2024-08-05,2024-08-11,2024-08
1,20241924,극장총집편 봇치 더 록! 전편,2024-08-07,1.5,483283400,41853,194,2024-08-05,2024-08-11,2024-08
2,20240983,명탐정 코난: 100만 달러의 펜타그램,2024-07-17,1.7,6813552641,700660,403,2024-08-05,2024-08-11,2024-08
3,20249733,사랑의 하츄핑,2024-08-07,12.3,3679174952,406387,1159,2024-08-05,2024-08-11,2024-08
4,20247781,데드풀과 울버린,2024-07-24,8.5,19426281710,1874864,880,2024-08-05,2024-08-11,2024-08